{% extends 'firstapp/Home.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Showlaptop page</title>
{% endblock %}

{% block content %}
    
    <table class="btn btn-success" style="width: 70%;margin: 3% 15%;">
        
        <tr>
            <th>ID</th>
            <th>Laptop Name</th>
            <th>Laptop Company</th>
            <th>Laptop RAM</th>
            <th>Laptop ROM</th>
            <th>Laptop Price</th>
            <th>Laptop Processor</th>
        </tr>
        {% for i in page_obj %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.laptopname}}</td>
                <td>{{i.laptopcompany}}</td>
                <td>{{i.laptopram}}</td>
                <td>{{i.laptoprom}}</td>
                <td>{{i.laptopprice}}</td>
                <td>{{i.laptopprocessor}}</td>
                <td><a href="{% url 'updt' i.id %}"><button class="btn btn-warning">Update</button></a></td>
                <td><a href="{% url 'del' i.id %}"><button class="btn btn-danger">Delete</button></a></td>
            </tr>
            {% endfor %}
    </table>
    <div class="pagination" style="margin: 1% 15%;">
        <span class="step-links">
            
            {% if page_obj.has_previous %}
                <a href="{% url 'listing' %}?page=1">&laquo; first</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'listing' %}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="{% url 'listing' %}?page={{ page_obj.next_page_number }}">next</a>&nbsp;&nbsp;&nbsp;
                <a href="{% url 'listing' %}?page={{ page_obj.paginator.num_pages }}">last</a>
            {% endif %}
        </span>
    </div>
    
{% endblock %}